*{
    margin: 0px;
    padding: 0px;
}

.container1{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 100px auto 80px;
}
.box1{
    background-color: rgb(22, 22, 20);
    grid-column: 1/3;
    text-align: center;
    color: white;
}
.box2{
    background-color: gray;
}
.box2>a{
    text-decoration: none;
    color: white;
}
.box2>a:hover{
    background-color: antiquewhite;
}
.box3{
    background-color: white;
}
.box4{
    background-color: rgb(27, 26, 29);
    grid-column: 1/3;
    text-align: center;
    color: white;
}
@media only screen and (max-width: 500px) {
    .container1{
        background-color: white;
        width: 100%;
        height: 200vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 100px auto 80px;
    }
    .box1{
        background-color: black;
        grid-column: 1/2;
    }
    .box2{
        background-color: gray;
        grid-column: 1/2;
    }
    .box3{
        background-color: white;
        grid-column: 1/2;
    }
    .box4{
        background-color: black;
       
        grid-column: 1/2;
    }
}